@font-face {
  font-family: "iranYekan";
  font-weight: 400;
  font-style: normal;
  src: url("../assets/fonts/Qs_Iranyekan.woff") format("woff");
}
@font-face {
  font-family: "iranYekan";
  font-weight: 700;
  font-style: normal;
  src: url("../assets/fonts/Qs_Iranyekan-bold.woff") format("woff");
}

body,
button {
  font-family: "iranYekan";
}
